.cardBlock2 {
  width: 180px;
  height: 250px;
  border: 6px solid rgb(174, 157, 206);
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
  background-color: aliceblue;
  color: rgb(62, 62, 146);
}
.positionUnderCard {
  width: 720px;
  display: flex;
  margin: 0 auto;
  /* margin-left: 500px; */
}

.miniCardBlock {
  width: 176px;
  height: 80px;
  border: 1px solid rgb(155, 150, 150);
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
  background-color: aliceblue;
  color:rgb(62, 62, 161);
}

.underBlock {
  width: 900px;
  display: flex;
  margin: 0 auto;
}
.selectedDate {
  display: flex;
  margin-bottom: 5px;
}

.num {
  margin-left: 50px;
}
.month {
  margin-right: 10px;
}

.tempToday {
  margin-top: 15px;
}

.miniImg {
  margin-top: -12px;
}

.miniTemp {
  margin-top: -10px;
}

.miniHum {
  margin-top: -8px;
}

.parts {
  margin-left: 64px;
  color:rgb(72, 72, 148);
}

.timeP {
margin-top: 3px;
}