.App {
  text-align: center;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.backgroung-image {
  /* background-image: url("./components/img/main_img.jpg"); */
  display: block;
  height: 100%;
  width: 100%;
}

.clearfix::after {
  display: table;
  content: " ";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-header {
  min-height: 86px;
}

.main-title {
  padding: 36px 0;
  font-size: 30px;
  line-height: 32px;
  color: #0f0101;
  font-family: "Roboto";
  font-weight: 200;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
}

.main-title::first-letter {
  color: #a11abc;
  font-weight: 900;
}

.site-navigation {
  float: right;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 52px;
}

.site-navigation li {
  float: left;
  margin-right: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 17px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #9c1abc;
}

.site-navigation2 {
  width: 480px;
  margin: 0;
  padding: 0;
  margin-left: 160px;
  list-style: none;
  margin-top: 4px;
}

.site-navigation2 li {
  float: left;
  margin: 0 auto;
  margin-right: 32px;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation2 li:last-child {
  margin-right: 0;
}

.site-navigation2 a {
  font-family: "Open Sans";
  font-size: 26px;
  line-height: 17px;
  font-weight: 700;
  color: #481c91;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation2 a:hover,
.site-navigation2 a:focus {
  color: #9c1abc;
}

.today-tomorrow {
  font-family: "Open Sans";
  font-size: 20px;
  margin-bottom: 100px;
  line-height: 17px;
  font-weight: 700;
  color: #210269;
  text-transform: uppercase;
}
.title {
  font-size: 28px;
  color: #0f0101;
}
.day {
  color: #114723;
  text-decoration: overline;
}
.temperature {
  font-size: 38px;
  color: #210269;
}

.details li {
  display: inline-block;
  width: 30%;
}
.title-week {
  font-size: 28px;
  line-height: 30px;
  color: #0f0101;
  font-family: "Roboto";
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.weather-for-week {
  font-family: "Open Sans";
  color: #210269;
  padding: 20px 0;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
  background-color: #6d6969;
  padding-top: 26px;
  padding-bottom: 24px;
}

.text {
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  text-align: center;
}

.colortext {
  color: hsl(276, 39%, 19%);
  text-decoration: none;
}
