.cardBlock {
  width: 180px;
  height: 120px;
  border: 1px solid rgb(207, 198, 198);
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
  /* background-color: aliceblue; */
}
.positionTopCard {
  width: 900px;
  display: flex;
  margin: 0 auto;
  margin-top: -42px;
}

.date {
  display: flex;
  margin-top: -16px;
}

.dateDay{
  margin-left: 60px;
}

.month {
  margin-left: 10px;
}
.temp {
  display: flex; 
}

.min {
  margin-top: -8px;
  margin-left: 16px;
}

.max {
  margin-top: -8px;
  margin-left: 12px;
}

.img {
  margin-top: -10px;
}