.cardBlock {
  width: 160px;
  height: 220px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  /* padding: 10px; */
  padding-bottom: 40px;
}
.positionTopCard {
  width: 800px;
  display: flex;
  margin: 0 auto;
}
